.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.image{
    width: 100%;
    height: auto;   
}
.title{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    text-align: center;
}
.card{
    background-color: #fff;
    border-radius: 1em;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.3);
    padding: 1em;
    margin-bottom: 1rem;
}
.card:hover{
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.3);
    text-decoration: none;
}
.card:hover .title{
    color: #000;
}
.card:hover .image{
    opacity: 0.5;
}
.card:hover .image:hover{
    opacity: 1;
}
.child{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    
}